:root {
  --primary-dark: #2B2B2B;
  --primary-blue: #50A4DB;
  --primary-light-grey: #505050;
  --secondary-ligth-grey: #B9B9B9;
  --light-font: #C7C7C7;
  --primary-background: #EFEFEF;
  --primary-white: #FFFFFF;
  --secondary-font: #4D4D4D;
  --primary-dark-font: #686868;
  --secondary-grey-font: #CDCDCE;
  --primary-count-blue: #56B3F8;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER STYLES */

.header {
  background: linear-gradient(to bottom, #232526, #414345);
  color: var(--primary-light-grey);
  display: flex;
  padding: 3rem 2rem;
  position: relative;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 3rem 0;
  }
}

.header--user {
  color: var(--primary-blue);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 20rem;
}

.header--user--sm-screen {
  display: none;
}

@media screen and (max-width: 900px) {
  .header--user {
    display: none;
  }
  .header--user--sm-screen {
    color: var(--secondary-ligth-grey);
    display: block;
    font-size: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.header--user .fa-user-circle {
  color: var(--secondary-ligth-grey);
  font-size: 2.3rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header--user .fa-caret-down {
  font-size: 2rem;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 40px;
  position: absolute;
}

.header__nav {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__nav-links {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .header__nav {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__nav-links {
    font-size: 2rem;
    order: 1;
  }
}

@media screen and (max-width: 520px) {
  .header__nav-links {
    flex-direction: column;
  }
}

.header__nav-links--link:not(:last-of-type) {
  margin-right: 5rem;
}

.header__nav-links--link {
  color: var(--primary-blue);
  margin-bottom: 1rem;
}

.header__nav-links--link:hover {
  color: var(--light-font);
}

.header__nav-links--link .fa-user,
.header__nav-links--link .fa-list-ul,
.header__nav-links--link .fa-share-alt {
  margin-right: 1rem;
}

@media screen and (max-width: 900px) {
  .header__nav-links--link .fa-user,
  .header__nav-links--link .fa-list-ul,
  .header__nav-links--link .fa-share-alt {
    margin-right: 1rem;
  }
}

.header__nav-links--link .fa-user,
.header__nav-links--link .fa-list-ul,
.header__nav-links--link .fa-share-alt {
  color: var(--primary-blue);
}

.header__nav-links--link:hover .fa-user,
.header__nav-links--link:hover .fa-list-ul,
.header__nav-links--link:hover .fa-share-alt {
  color: var(--light-font);
}

.header__logo {
  color: var(--light-font);
  display: flex;
  font-size: 4rem;
  justify-content: space-around;
  margin-top: 2rem;
  position: relative;
  width: 35rem;
}

.header__logo--heading {
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .header__logo {
    top: 2rem;
  }
  .header__logo--heading {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

.header__logo--image {
  font-size: 5rem;
}

.header__logo .header__logo--image {
  position: absolute;
  left: 28rem;
  transform: translate(-50%, -50%);
  top: 50%;
}

@media screen and (max-width: 900px) {
  .header__logo {
    width: 100%;
  }
  .header__logo .header__logo--image {
    left: 50%;
    margin-bottom: 1rem;
    top: -1rem;
  }
}

/* MAIN SECTION */

.wrapper {
  background-color: var(--primary-background);
  padding: 3rem 2rem;
}

/* CARD SECTION HEADER */

.card-section__heading {
  color: var(--secondary-font);
  font-size: 3rem;
  margin-bottom: 3rem;
}

.card-section__heading--header {
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .card-section__heading {
    text-align: center;
  }
}

/* CARD SECTION CARD */

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 700px) {
  .card-section {
    justify-content: space-between;
  }
}

/* CARD SECTION CARD */

.card-section__card {
  background-color: #fff;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
  display: flex;
  flex-direction: column;
  height: 48rem;
  margin-bottom: 2rem;
  transition: all .3s ease;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .card-section__card {
    width: 49%;
  }
}

@media screen and (min-width: 1124px) {
  .card-section__card {
    width: 32%;
  }
}

@media screen and (min-width: 1400px) {
  .card-section__card {
    width: 24.2%;
  }
}

.card-section__card:hover {
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2)
}

.card-section-header {
  background-image: linear-gradient(to bottom, #232526, transparent, #414345), url("https://images.designtrends.com/wp-content/uploads/2015/11/30161410/Simple-Plain-Blue-Background11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--primary-white);
  display: flex;
  justify-content: space-between;
  height: 20rem;
  padding: 1rem 2rem;
  width: 100%;
}

.card-section-header__icon {
  font-size: 6rem;
}

.card-section-copy {
  text-align: center;
}

.card-section-copy__text {
  font-size: 1.4rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.card-section-copy__numbers {
  font-size: 3rem;
  text-align: center;
}

.card-section-info,
.card-section-playlist__heading,
.card-section-playlist__name,
.card-section-attachments__heading {
  color: var(--primary-dark-font);
}

.card-section-info {
  justify-content: flex-start;
  padding: 1.5rem;
}

.card-section-info__header--heading,
.card-section-info__header--date,
.card-section-attachments__heading {
  font-weight: 100;
}

.card-section-info__header--heading {
  font-size: 1.7rem;
}

.card-section-info__header--date {
  color: var( --secondary-grey-font);
  font-size: 1.4rem;
  font-weight: 100;
}

.card-section-info__link {
  cursor: pointer;
  font-size: 1.4rem;
  margin-top: 2rem;
  overflow-wrap: break-word;
  padding: 2rem 1rem 2rem;
  transition: all .2s ease;
}

.card-section-info__link:hover {
  background: var(--primary-background);
}

.card-section-playlist {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.card-section-playlist__heading,
.card-section-attachments__heading {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.card-section-playlist__name {
  font-size: 1.6rem;
}

.card-section-attachments {
  padding-left: 1.5rem;
}

.card-section-attachments__count {
  color: var(--primary-count-blue);
}

.card-section-attachments__count {
  font-size: 4rem;
}