:root {
  --primary-dark: #2B2B2B;
  --primary-blue: #50A4DB;
  --primary-light-grey: #505050;
  --secondary-ligth-grey: #B9B9B9;
  --light-font: #C7C7C7;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER STYLES */

.header {
  background-color: var(--primary-dark);
  color: var(--primary-light-grey);
  display: flex;
  position: relative;
  padding: 3rem 2rem;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 3rem 0;
  }
}

.header--user {
  color: var(--primary-blue);
  font-size: 1.4rem;
  position: absolute;
  display: flex;
  justify-content: space-around;
  right: 1rem;
  top: 1rem;
  width: 20rem;
}

.header--user--sm-screen {
  display: none;
}

@media screen and (max-width: 900px) {
  .header--user {
    display: none;
  }
  .header--user--sm-screen {
    color: var(--secondary-ligth-grey);
    display: block;
    font-size: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.header--user .fa-user-circle {
  color: var(--secondary-ligth-grey);
  font-size: 2.3rem;
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%);
  top: 50%;
}

.header--user .fa-caret-down {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.header__nav {
  align-items: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__nav-links {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav-links {
    flex-direction: column;
    font-size: 2rem;
    order: 1;
  }
}

.header__nav-links--link:not(:last-of-type) {
  margin-right: 5rem;
}

.header__nav-links--link {
  color: var(--primary-light-grey);
}

.header__nav-links--link:hover {
  color: var(--light-font);
}

.header__nav-links--link .fa-user,
.header__nav-links--link .fa-list-ul,
.header__nav-links--link .fa-share-alt {
  margin-right: 1rem;
}

@media screen and (max-width: 900px) {
  .header__nav-links--link .fa-user,
  .header__nav-links--link .fa-list-ul,
  .header__nav-links--link .fa-share-alt {
    margin-right: 1rem;
  }
}

.header__nav-links--link .fa-user,
.header__nav-links--link .fa-list-ul,
.header__nav-links--link .fa-share-alt {
  color: var(--primary-blue);
}

.header__nav-links--link:hover .fa-user,
.header__nav-links--link:hover .fa-list-ul,
.header__nav-links--link:hover .fa-share-alt {
  color: var(--light-font);
}

.header__logo {
  display: flex;
  justify-content: space-around;
  font-size: 4rem;
  margin-top: 2rem;
  position: relative;
  border: 1px solid orange;
  width: 35rem;
}

.header__logo--heading {
  font-weight: 300;
}

.header__logo--image {
  font-size: 5rem;
}

.header__logo .header__logo--image {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
  .header__logo {
    width: 100%;
  }
  .header__logo .header__logo--image {
    top: -1rem;
    left: 50%;
    margin-bottom: 1rem;
  }
}